VITE_FIREBASE_API_KEY=abc
VITE_FIREBASE_AUTH_DOMAIN=abc
VITE_FIREBASE_PROJECT_ID=abc
VITE_FIREBASE_STORAGE_BUCKET=abc
VITE_FIREBASE_MESSAGING_SENDER_ID=abc
VITE_FIREBASE_APP_ID=abc
VITE_TINYMCE_API_KEY=abc
VITE_RAZORPAY_KEY_ID=abc
VITE_BASE_URL=abc
